<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le jeton CSRF</title>
</head>
<body>
    <p>
        Le champ caché ci-dessous transporte le jeton CSFR.
        Il prouve que la requête provient bien ce cette page et pas d'une autre source malveillante.
    </p>
    <form>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label>Prénom : <input type="text" name="first_name"></label>
    </form>
</body>
</html>